<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "menu/messages.html" %}
    <form action="{% url 'postaddmdafsat' %}" method="POST">
        {% csrf_token %}
        <h1>MAPOTIK</h1>
        <p>Satuan Terbesar :</p>
        <input type="text" name="satuan_terbesar" id="satuan_terbesar" maxlength="100"  required>
        <p>Satuan Sedang :</p>
        <input type="text" name="satuan_sedang" id="satuan_sedang" maxlength="100" required>
        <p>Satuan Terkecil :</p>
        <input type="text" name="satuan_terkecil" id="satuan_terkecil" maxlength="100" required>
        <p>Jumsat Terbesar :</p>
        <input type="number" name="jumsat_terbesar" id="jumsat_terbesar" maxlength="50" required>
        <p>Jumsat Sedang :</p>
        <input type="number" name="jumsat_sedang" id="jumsat_sedang" maxlength="50" required>
        <p>Jumsat Terkecil :</p>
        <input type="number" name="jumsat_terkecil" id="jumsat_terkecil" maxlength="50" required>
        <br>
        <br>
        <button type="submit">SUBMIT</button>
        <a href="{% url 'vmdafsat' %}">Kembali</a>

    </form>
</body>

</html>