<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "menu/messages.html" %}
    <form action="{% url 'postupadmin' %}" method="POST">
        {% csrf_token %}
        <h1>UPDATE</h1>
        <p>ID Admin :</p>
        <input type="text" name="id_admin" id="id_admin" value="{{ data_admin.id_admin }}"  required readonly>
        <p>Username :</p>
        <input type="text" name="username" id="username" value="{{ data_admin.username }}" required upper>
        <p>Eamil:</p>
        <input type="text" name="email" id="email" value="{{ data_admin.email }}" required>
        <p>Telepon :</p>
        <input type="text" name="telepon" id="telepon" value="{{ data_admin.telepon }}" required>
        <br>
        <br>
        <button type="submit">SUBMIT</button>
        <a href="{% url 'vadmin' %}">Kembali</a>

    </form>
</body>

</html>