<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>KELOMPOK BARANG</h1>
    {% include "menu/messages.html" %}
    <a href="{% url 'addadmin' %}">TAMBAH</a>

    <table>
        <thead>
            <tr>
                <th>ID Admin</th>
                <th>Nama</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for madmin in data_admin %}
            <tr>
                <td>{{ madmin.id_admin}}</td>
                <td>{{ madmin.username }}</td>
                 <td>
                    <a href="{% url 'update' madmin.id_admin  %}">UPDATE</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>