<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "menu/messages.html" %}
    <form action="{% url 'postupmprofil' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>UPDATE</h1>
        <p>ID Apotik : </p>
        <input type="text" name="id_apotik" id="id_apotik" value="{{ data_mprofil.id_apotik }}"  required readonly >
        <p>Nama :</p>
        <input type="text" name="nama" id="nama" value="{{ data_mprofil.nama }}"  required>
        <p>Alamat :</p>
        <input type="text" name="alamat" id="alamat" value="{{ data_mprofil.alamat }}"  required>
        <br>
        <p>Gambar :</p>
        {% if data_mprofil.gambar %}
        <img style="height: 100px" src="{{ data_mprofil.gambar.url }}" alt="Gambar Profil" id="preview-gambar">
        {% else %}
        <img style="height: 100px" src="" alt="Gambar Profil" id="preview-gambar">
        {% endif %}
        <input type="file" name="gambar" id="gambar-input" accept='.png, .jpg, .jpeg' onchange="previewGambar(event)">
        <p>Facebook :</p>
        <input type="text" name="facebook" id="facebook" value="{{ data_mprofil.facebook }}"  required>

        <p>Instagram :</p>
        <input type="text" name="instagram" id="instagram" value="{{ data_mprofil.instagram }}"  required>

        <p>Email :</p>
        <input type="email" name="email" id="email" value="{{ data_mprofil.email }}"  required>
        <p>Whatsapp :</p>
        <input type="number" name="whatsapp" id="whatsapp" value="{{ data_mprofil.whatsapp }}"  required>
        <br>
        <button type="submit">SUBMIT</button>
        <a href="{% url 'vmprofil' %}">Kembali</a>

    </form>
    <script>
        function previewGambar(event) {
            const input = event.target;
            const imgElement = document.getElementById('preview-gambar');
            
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                
                reader.onload = function (e) {
                    imgElement.src = e.target.result;
                };
                
                reader.readAsDataURL(input.files[0]);
            }
        }
        </script>
        
</body>

</html>