<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor%}
    {% endif %}
    <form action="{% url 'postaddmjenis' %}" method="POST">
        {% csrf_token %}
        <h1>JENIS BARANG</h1>
        <p>Nama Jenis :</p>
        <input type="text" name="nama_jenis" id="nama_jenis" maxlength="100" required>
        <p>Kode Kelompok</p>
        <select name="kode_kelompok" id="kode_kelompok" required>
            <option value="" disabled selected>- Pilih Kode Kelompok -</option>
            {% for lk in kode_mkelompok %}
            <option value="{{ lk.kode_kelompok}}">{{ lk.kode_kelompok }}</option>
            {% endfor %}
        </select>
        <p>Status PPN :</p>
        <input type="text" name="Status_ppn" id="Status_ppn" maxlength="20" required>
        <br>
        <br>
        <button type="submit">SUBMIT</button>
        <a href="{% url 'vmjenis' %}">Kembali</a>

    </form>
</body>

</html>