<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "menu/messages.html" %}
    <form action="{% url 'postupmjenis' %}" method="POST">
        {% csrf_token %}
        <h1>UPDATE JENIS OBAT</h1>
        <p>Kode Jenis</p>
        <input type="text" name="kode_jenis" id="kode_jenis" value="{{ data_mjenis.kode_jenis }}" required readonly>
        <p>Nama Jenis :</p>
        <input type="text" name="nama_jenis" id="nama_jenis" value="{{ data_mjenis.nama_jenis }}" required>
        <p>Kode Kelompok</p>
        <select name="kode_kelompok" id="kode_kelompok" required>
            <option value="{{ data_mjenis.kode_kelompok}}"  >{{ data_mjenis.kode_kelompok}}</option>
            {% for lk in kode_mkelompok %}
            <option value="{{ lk.kode_kelompok}}">{{ lk.kode_kelompok }}</option>
            {% endfor %}
        </select>
        <p>Status PPN :</p>
        <input type="text" name="status_ppn" id="status_ppn" value="{{ data_mjenis.status_ppn }}" required>
        <p>Usertime</p>
        <input type="text" name="usertime" id="usertime" value="{{ data_mjenis.usertime }}" required readonly>
        <br>
        <br>
        <button type="submit">SUBMIT</button>
        <a href="{% url 'vmjenis' %}">Kembali</a>

    </form>
</body>

</html>