<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "menu/messages.html" %}
    <form action="{% url 'postaddmbarang' %}" method="POST">
        {% csrf_token %}
        <h1>BARANG</h1>
        <p>Nama Barang Lengkap :</p>
        <input type="text" name="nama_barang_lengkap" id="nama_barang_lengkap" maxlength="100" required>
        <p>Nama Barang Penjualan :</p>
        <input type="text" name="nama_barang_penjualan" id="nama_barang_penjulana" maxlength="100" required>
        <p>Jenis Barang :</p>
        <select name="jenis_barang" id="jenis_barang" required>
            <option value="" disabled selected>-Pilih Jenis-</option>
            {% for mj in data_mjenis %}
            <option value="{{ mj.nama_jenis }}">{{ mj.nama_jenis }}</option>
            {% endfor %}
        </select>
        <p>Satuan Terkecil :</p>
        <select name="satua_terkecil" id="satua_terkecil" required>
            <option value="" disabled selected>-Satuan Terkecil-</option>
            {% for md in data_mdafsat %}
            <option value="{{ md.satuan_terkecil }}">{{ md.satuan_terkecil }}</option>
            {% endfor %}
        </select>          <p>Barcode Terkecil :</p>
        <input type="text" name="barcode_terkecil" id="barcode_terkecil" maxlength="20" required>
        <p>Harga PL Sebelum PPN :</p>
        <input type="text" name="harga_pl_sebelum_ppn" id="harga_pl_sebelum_ppn" oninput="formatNumber(this)" maxlength="100" required>
        <br>
        <p>Harga PL Sesudah PPN :</p>
        <input type="text" name="harga_pl_sesudah_ppn" id="harga_pl_sesudah_ppn" oninput="formatNumber(this)" maxlength="100" required>
        <br>
        <p>Harga Pokok Penjualan :</p>
        <input type="text" name="harga_pokok_penjualan" id="harga_pokok_penjualan" oninput="formatNumber(this)" maxlength="100" required>
        <br>
        <p>Margin Penjualan:</p>
        <input type="text" name="margin_penjualan" id="margin_penjualan" maxlength="50" oninput="formatNumber(this)" required>
        <br>
        <p>Harga Penjualan Satuan Terkecil :</p>
        <input type="text" name="harga_penjualan_sat_terkecil" id="harga_penjualan_sat_terkecil" maxlength="100" oninput="formatNumber(this)" required >
        <p>Kode Daftar Satuan :</p>
        <select name="kode_dafar_satuan" id="kode_dafar_satuan" required>
            <option value="" disabled selected>-Kode Daftar Satuan-</option>
            {% for md in data_mdafsat %}
            <option value="{{ md.kode_daftar_satuan }}">{{ md.kode_daftar_satuan }}</option>
            {% endfor %}
        </select>        
        <p>Satatus Aktif Barang :</p>
        <select name="status_aktif_barang" id="status_aktif_barang" >
            <option disabled selected>-Satatus Aktif-</option>
            <option>Y</option>
            <option>T</option>
        </select>
        <br>
        <br>
        <button type="submit">SUBMIT</button>
        <a href="{% url 'vmbarang' %}">Kembali</a>
        {% include "menu/format-number.html" %}

    </form>
</body>

</html>