<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <title>Document</title>
</head>
{% include "menu/css.html" %}

<body>
    {% include "menu/messages.html" %}
    <div class="container">
        <div class="prof-notif">
            <img src="/static/images/🦆 icon _notification_.svg" alt="">
            <img src="/static/images/🦆 icon _profile circle_.svg" alt="">
        </div>
        <div class="nav">
            {% include "menu/pilhan.html" %}
        </div>
        <h1 class="title">Daftar Obat</h1>
        <a class="add" href="{% url 'addmbarang' %}">Tambah <img class="imgtambah" src="/static/images/🦆 icon _add circle_.svg" alt=""></a>
      
        <table>
            <thead>
                <tr>
                    <th>Kode Barang</th>
                    <th>Nama Barang Lengkap</th>
                    <th>Nama Barang Penjualan </th>
                    <th>Jenis Barang</th>
                    <th>Satuan Terkecil</th>
                    <th>Barcode Terkecil</th>
                    <th>Harga PL Sebelum PN</th>
                    <th>Harga PL Sesudah PN</th>
                    <th>Harga Pokok Penjualan</th>
                    <th>Margin Penjualan</th>
                    <th>Harga Penjualan Satuan Terkcil</th>
                    <th>Tanggal Update Terakhir </th>
                    <th>Kode Daftar Satuan</th>
                    <th>Status Aktif Barang</th>
                    <th>Usertime</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for mbarang in data_mbarang %}
                <tr>
                    <td>{{ mbarang.kode_barang}}</td>
                    <td>{{ mbarang.nama_barang_lengkap }}</td>
                    <td>{{ mbarang.nama_barang_penjualan }}</td>
                    <td>{{ mbarang.jenis_barang }}</td>
                    <td>{{ mbarang.satua_terkecil }}</td>
                    <td>{{ mbarang.barcode_terkecil }}</td>
                    <td>{{ mbarang.harga_pl_sebelum_ppn }}</td>
                    <td>{{ mbarang.harga_pl_sesudah_ppn }}</td>
                    <td>{{ mbarang.harga_pokok_penjualan }}</td>
                    <td>{{ mbarang.margin_penjualan }}</td>
                    <td>{{ mbarang.harga_penjualan_sat_terkecil }}</td>
                    <td>{{ mbarang.tanggal_update_terakhir }}</td>
                    <td>{{ mbarang.kode_dafar_satuan }}</td>
                    <td>{{ mbarang.status_aktif_barang }}</td>
                    <td>{{ mbarang.usertime }}</td>
                    <td class="td-btn">
                        <a href="{% url 'upmbarang' mbarang.kode_barang %}"><button class="btn">
                            <img src="/static/images/🦆 icon _edit_.svg" alt=""></button></a>
                        <a onclick="return confirm('anda yakin menghapus satuan bertingktat dengan id = {{ mbarang.kode_barang }}')"
                            href="{% url 'delmbarang' mbarang.kode_barang %}"><button class="btn">
                                <img src="/static/images/🦆 icon _trash_.svg" alt=""></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>

</html>