<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="title">Apotik</h1>
            <img class="logo-ukrim" src="/static/images/logo_ukrim.png" alt="">
            <img class="rec_1" src="/static/images/Rectangle 1.svg" alt="">
        </div>
        <div>
            <nav>
                <a class="login" href="#">Login</a>
                <a class="dokumentasi" href="#">Dokumentasi</a>
                <img class="rec-2" src="/static/images/rec_2.svg" alt="">
            </nav>
            <form action="">
                <h1 class="welcome">Welcome To Apotik</h1>
                <div class="form-card">
                    <h1 class="login-label">
                        Login
                    </h1>
                    <input type="text" placeholder="Masukkan Email" required>
                    <input type="password" placeholder="Masukkan Password" required>
                    <div class="btn">
                        <button class="submit-btn">
                            Submit
                        </button>
                        <a href="#">Forget Password</a>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <div>
        <img src="/static/images/rec_3.svg" alt="">
        <img src="/static/images/social_media.png" alt="">
    </div>

</body>
</html>