<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>KELOMPOK BARANG</h1>
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor%}
    {% endif %}
    <div class="container">
        <select name="Obat" id="">Obat
             <option value="">Kelompok Obat</option>
             <option value="">Data Obat</option>
             <option value="">Data Obat Satuan</option>
             <option value="">jenis Obat</option>
        </select>
        <select name="Satuan" id="">Satuan
             <option value="">data Satuan</option>
             <option value="">Satuan Bertingkat</option>
         </select>
         <button>Range Harga</button>
         <select name="Supplier" id="">Supplier
             <option value="">Supplier</option>
             <option value="">Obat Supplier</option>
         </select>
         <select name="Pembelian" id="">Pembelian
             <option value="" >Pembelian Faktur</option>
             <option value="">Pembelian detail</option>
         </select>
     </div>
    <a href="{% url 'tambahmkelompok' %}">TAMBAH</a>
    <table>
        <thead>
            <tr>
                <th>Kode Kelompok</th>
                <th>Nama Kelompok</th>
                <th>usertime</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for mkelompok in data_mkelompok %}
            <tr>
                <td>{{ mkelompok.kode_kelompok }}</td>
                <td>{{ mkelompok.nama_kelompok }}</td>
                <td>{{ mkelompok.usertime }}</td>
                <td>
                    <a href="{% url 'updatmkelompok' mkelompok.kode_kelompok %}">UPDATE</a>
                    <a onclick="return confirm('anda yakin menghapus kelompok barang dengan id = {{ mkelompok.kode_kelompok }}')"
                        href="{% url 'deletemkelompok' mkelompok.kode_kelompok %}">DELETE</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>