<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor%}
    {% endif %}
    <form action="{% url 'posttambahmkelompok' %}" method="POST">
        {% csrf_token %}
        <h1>TAMBAH KELOMPOK BARANG</h1>
        <p>Nama Kelompok :</p>
        <input type="text" name="nama_kelompok" id="nama_kelompok" maxlength="30" required>
        <br>
        <br>
        <button type="submit">SUBMIT</button>

    </form>
</body>

</html>