<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor%}
    {% endif %}
    <form action="{% url 'postupmsatuan' %}" method="POST">
        {% csrf_token %}
        <h1>UPDATE</h1>
        <p>KOde Satuan :</p>
        <input type="text" name="kode_satuan" id="kode_satuan" value="{{ data_msatuan.kode_satuan }}"  required readonly >
        <p>Nama Satuan :</p>
        <input type="text" name="nama_satuan" id="nama_satuan" value="{{ data_msatuan.nama_satuan }}"  required>
        <p>Nama Singkat :</p>
        <input type="text" name="nama_singkat" id="nama_singkat" value="{{ data_msatuan.nama_singkat }}"  required>
        <p>Usertime :</p>
        <input type="text" name="usertime" id="usertime" value="{{ data_msatuan.usertime }}"  required readonly>
       
        <br>
        <br>
        <button type="submit">SUBMIT</button>
        <a href="{% url 'vmsatuan' %}">Kembali</a>

    </form>
</body>

</html>